:host {
    position: relative;
    display: flex;
    flex: 0 0 11%;
    flex-direction: column;
    border-radius: var(--border-radius);
    transition: box-shadow 0.3s ease-in-out;
    border: 1px solid var(--main-color);
    overflow: hidden;
}

.avatar {
    display: block;
    margin: auto;
    max-height: 4rem;
    max-width: 4rem;
    margin-top: -2rem;
    filter: var(--drop-shadow);
}

.avatar image {
    height: 100%;
    width: 100%;
}

.avatar__box {
    -webkit-clip-path: url(#avatar-box);
    clip-path: url(#avatar-box);
}

.avatar__hexagon {
    -webkit-clip-path: url(#avatar-hexagon);
    clip-path: url(#avatar-hexagon);
}

.link-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .link-icon {
        width: 15px;
        height: 15px;
        padding: unset;
        color: #fff;

        &,
        .mat-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mat-icon {
            width: 75%;
            height: 75%;
        }

        ::ng-deep {
            .mat-mdc-button-touch-target {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.header__summary {
    display: flex;
    // max-height: 90px;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}

.header__summary--contact {
    position: relative;
    padding: var(--padding);
    padding-bottom: 1.5rem;
    height: fit-content;
    color: #fff;
    background-color: var(--main-color);

    .header__name {
        position: relative;
        margin-block: 0.5rem;
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 1.3;
        text-align: center;
    }

    .header__position {
        width: fit-content;
        margin: unset;
        padding: 0.5rem 1rem;
        font-size: 0.6rem;
        font-weight: 400;
        text-align: center;
        border-radius: 10rem;
    }
}

.header__summary--content {
    display: flex;
    align-items: center;
    flex: 1;
    line-height: 1.3;
    font-size: 0.7rem;
    padding: 0.5rem;
}

.header__info {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    height: fit-content;
    background-color: var(--main-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    h3,
    .contact-item {
        display: inline-flex;
        align-items: center;
        margin: unset;
        padding: unset;
        justify-content: center;
        flex: 1 0 content;
        height: 15px;
        font-size: 0.6rem;
        color: #fff;

        .mat-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 100%;
            font-size: 0.8rem;
        }

        ::ng-deep {
            .mat-mdc-button-touch-target {
                height: 100%;
                width: 100%;
            }
        }
    }
}
