:host {
    --highlight-color: #304cfd;

    position: relative;
    flex: 1;
    padding: 1rem;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.experience--header {
    position: relative;
    gap: 0.5rem;
    margin: unset;
    font-size: 0.9rem;
    line-height: 1.5;

    &,
    .mat-icon {
        display: flex;
        align-items: flex-end;
    }

    .mat-icon {
        justify-content: center;
        width: 20px;
        font-size: 1.3rem;
        color: var(--highlight-color);
    }

    &::after {
        --size: 4px;
        content: '';
        position: absolute;
        width: 56px;
        height: var(--size);
        left: 0;
        bottom: calc(-2 * var(--size));
        background-color: var(--highlight-color);
        border-radius: var(--size);
    }
}

.experience--summary {
    line-height: 1.3;
    font-size: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}

.experience--list {
    --main-color: 48, 76, 253;
    margin-inline-start: 0.3rem;

    .experience__item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 0.6rem;
        padding-left: 1.3rem;
        border-left: 1px solid #f0f0f6;

        &:first-of-type {
            margin-top: 1.5rem;
        }

        &:last-of-type {
            padding-bottom: unset !important;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -0.23rem;
            height: 0.4rem;
            width: 0.4rem;
            background-color: rgb(var(--main-color));
            box-shadow: 0 0 0 0.15rem rgba(var(--main-color), 0.25);
            border-radius: 50%;
        }

        .experience__title {
            position: relative;
            top: -0.3rem;
            margin: unset;
            font-size: 0.8rem;
        }

        .experience__company {
            position: relative;
            margin: unset;
            font-size: 0.6rem;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.5;
        }

        .experience__period {
            position: relative;
            top: -0.1rem;
            font-size: 0.5rem;
            line-height: 1.5;
            color: #8697a8;
        }

        .experience__description {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            margin-top: unset;
            margin-bottom: 0.3rem;
            padding-inline-start: 0.5rem;
            font-size: 0.6rem;

            li {
                position: relative;
                min-height: 15px;
                line-height: 1.3;

                &:before {
                    content: '\2022';
                    position: absolute;
                    top: 0;
                    left: -1em;
                    font-weight: bold;
                    color: rgb(var(--main-color));
                }
            }

            ::ng-deep {
                .experience__highlight {
                    background-color: #f5f8f9;
                    font-size: 0.65rem;
                    font-weight: 600;
                    padding-inline: 5px;
                    border-radius: 50px;
                }
            }
        }
    }
}

.download-resume {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    padding: unset;
    width: 2rem;
    height: 2rem;
    min-width: unset;
    background-color: var(--highlight-color) !important;
    border-radius: 50% var(--border-radius) 50% 50%;

    .mat-icon {
        margin: unset;
        height: 10px;
        width: 10px;
        font-size: 0.9rem;
    }
}

@media print {
    .download-resume {
        display: none;
    }
}
