:host {
    --highlight-color: #304cfd;
    flex: 1;
    padding: 1.5rem 1rem;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.experience-section {
    position: relative;
    gap: 0.5rem;
    margin: unset;
    font-size: 0.9rem;
    line-height: 1.5;

    &,
    .mat-icon {
        display: flex;
        align-items: center;
    }

    .mat-icon {
        justify-content: center;
        width: 20px;
        font-size: 1.5rem;
        color: var(--highlight-color);
    }

    &::after {
        --size: 3px;
        content: '';
        position: absolute;
        width: 10%;
        height: var(--size);
        left: 0;
        bottom: calc(-2 * var(--size));
        background-color: var(--highlight-color);
        border-radius: var(--size);
    }
}
