:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    padding-inline: 0.5rem;
}

.project--header {
    position: relative;
    gap: 0.5rem;
    font-size: 0.9rem;
    height: 35px;

    &,
    .mat-icon {
        display: flex;
        align-items: flex-end;
    }

    .mat-icon {
        justify-content: center;
        width: 20px;
        font-size: 1.5rem;
        color: var(--main-color);
    }

    h3 {
        margin: unset;
        line-height: initial;
    }

    &::after {
        --size: 4px;
        content: '';
        position: absolute;
        width: 56px;
        height: var(--size);
        left: 0;
        bottom: calc(-2 * var(--size));
        background-color: var(--main-color);
        border-radius: var(--size);
    }
}

.project--note {
    padding-inline: 0.5rem;
    margin-block: 0.5rem;
    width: fit-content;
    font-size: 0.6rem;
    line-height: 2;
    background-color: #f5f8f9;
    border-left: 5px solid var(--main-color);
    border-radius: 5px;
}

.project--list {
    margin-inline-start: 0.3rem;

    .project__item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        padding-left: 1.3rem;
        border-left: 1px solid #f5f8f9;

        &:last-of-type {
            padding-bottom: unset !important;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -0.23rem;
            height: 0.4rem;
            width: 0.4rem;
            background-color: var(--main-color);
            box-shadow: 0 0 0 0.15rem var(--shadow-color);
            border-radius: 50%;
        }

        .project__title {
            position: relative;
            top: -0.3rem;
            margin: unset;
            font-size: 0.8rem;
        }

        .project__description,
        .project__more-details {
            position: relative;
            font-size: 0.8rem;
            line-height: 1.2;
        }

        .project__description {
            font-size: 0.7rem;
            margin-block: 0.5rem;
        }

        .project__details {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            margin: unset;
            padding-inline-start: 0.5rem;
            max-width: 90%;
            font-size: 0.6rem;

            li {
                position: relative;
                display: flex;
                align-items: center;
                gap: 0.25rem;
                min-height: 15px;
                line-height: 1.3;

                &:before {
                    content: '\2022';
                    position: absolute;
                    top: 0;
                    left: -1em;
                    font-weight: bold;
                    color: var(--main-color);
                }

                ::ng-deep {
                    a {
                        color: var(--link-color);
                    }
                }
            }
        }

        .project__more-details {
            margin-bottom: unset;
            padding-inline-start: 0.5rem;
            font-size: 0.6rem;
            border-left: 5px solid var(--main-color);
            border-radius: 5px;
        }
    }
}
