<!-- <div class="project--header">
    <mat-icon fontSet="material-icons-outlined">highlight</mat-icon>
    <h3>Highlighted Projects</h3>
</div>

<section class="project--list">
    @for (project of projects; track project) {
        <article class="project__item">
            <h4
                class="project__title"
                [innerHtml]="project.title | safe: 'html'"
            ></h4>
            @if (project.description) {
                <h5
                    class="project__description"
                    [innerHtml]="project.description | safe: 'html'"
                ></h5>
            }
            <ul class="project__details">
                @for (item of project.detailsList; track item) {
                    @if (item.startsWith('http')) {
                        <li>
                            <a [href]="item" target="_blank">{{ item }}</a>
                        </li>
                    } @else {
                        <li [innerHtml]="item | safe: 'html'"></li>
                    }
                }
            </ul>
            @if (project.moreDetails) {
                <p
                    class="project__more-details"
                    [innerHtml]="project.moreDetails | safe: 'html'"
                ></p>
            }
        </article>
    }
</section> -->

<div class="project--header">
    <mat-icon fontSet="material-icons-outlined">highlight</mat-icon>
    <h3>Open Source Projects</h3>
</div>
<p class="project--note">
    It is a privilege to be a part of various Open Source Projects.
</p>

<section class="project--list">
    @for (project of osProjects; track project) {
        <article class="project__item">
            <h4
                class="project__title"
                [innerHtml]="project.title | safe: 'html'"
            ></h4>
            @if (project.description) {
                <h5
                    class="project__description"
                    [innerHtml]="project.description | safe: 'html'"
                ></h5>
            }
            <ul class="project__details">
                @for (item of project.detailsList; track item) {
                    @if (item.startsWith('http')) {
                        <li>
                            <a [href]="item" target="_blank">{{ item }}</a>
                        </li>
                    } @else {
                        <li [innerHtml]="item | safe: 'html'"></li>
                    }
                }
            </ul>
        </article>
    }
</section>
