<aside class="sidebar__wrapper">
    <svg class="avatar" viewBox="0 0 188 188">
        <g class="avatar__box">
            <image xlink:href="/assets/images/avatar-3.jpg"></image>
        </g>
    </svg>
    <div class="sidebar__header">
        <h1 class="header__name">Mohamed Rekiba</h1>
        <h2 class="header__position">Senior DevOps Engineer</h2>
        <div class="link-list">
            <a
                mat-icon-button
                *ngFor="let social of socialInfo"
                class="link-icon"
                [href]="social.link"
                target="_blank"
            >
                <mat-icon [svgIcon]="social.icon"></mat-icon>
            </a>
        </div>
    </div>
    <div class="sidebar__info">
        <ng-container *ngFor="let contact of contactInfo">
            <a
                mat-icon-button
                class="contact-item"
                [title]="contact.title"
                [href]="
                    contact.hrefSuffix
                        ? contact.hrefSuffix + contact.value
                        : '#'
                "
                [target]="contact.hrefSuffix ? '_blank' : '_self'"
            >
                <mat-icon fontSet="material-icons-outlined">{{
                    contact.icon
                }}</mat-icon>
                {{ contact.value }}
            </a>
        </ng-container>

        <button
            mat-raised-button
            (click)="downloadCV()"
            class="download-resume"
        >
            <mat-icon>download</mat-icon>
            Download CV
        </button>
    </div>
</aside>
<section class="sidebar__keywords">
    <h5 class="keywords__title">Keywords</h5>

    <div class="keywords__wrapper">
        <span *ngFor="let keyword of keywords">{{ keyword }}</span>
    </div>
</section>

<!-- 
<svg class="avatar" viewBox="0 0 84 84">
    <g class="avatar__hexagon">
        <image
            xlink:href="/assets/images/avatar-3.jpg"
        ></image>
    </g>
</svg>
-->
