@use 'variables' as *;

@mixin section-heading {
  font-size: $font-size-section;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid $color-border;
  padding-bottom: 3px;
  margin-bottom: 6px;
  color: $color-heading;
}
