* {
    /**
    * Fix mixed languages alignment
    */
    unicode-bidi: plaintext;
    /**
    * Remove outline
    */
    &:active,
    &:focus {
        outline: none !important;
    }
    /**
    * Includes content, padding & border into box-sizing
    */
    &,
    &:before,
    &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /**
    * Change scrollbar style
    */
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background-color: #eee;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    // &::-webkit-scrollbar-track {
    //     -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
    //     border-radius: 8px;
    //     background-color: rgba(245, 245, 245, 0.5);
    // }
    // &::-webkit-scrollbar {
    //     background-color: rgba(245, 245, 245, 0.5);
    //     &:horizontal {
    //         height: 5px;
    //     }
    //     &:vertical {
    //         width: 5px;
    //     }
    // }
    // &::-webkit-scrollbar-thumb {
    //     border-radius: 8px;
    //     -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
    //     background-color: rgba(187, 187, 187, 0.5);
    // }
}

/**
* Remove inputs autofill background
*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea,
div,
p {
    touch-action: manipulation;
}

/**
* Remove list style
*/

ol,
ul {
    list-style: none;
}

/**
* Remove link decoration & color
*/

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: initial;
}

/**
* balanced text blocks
*/

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
    text-wrap: balance;
}

iframe {
    display: grid;
    width: 100%;
    height: 100%;
    border: unset;
}

$truncate-lines: 3;
.truncate-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-inline-size: 40ch;
    text-wrap: balance;
}
@mixin truncate-text-x {
    @for $i from 1 through $truncate-lines - 1 {
        .truncate-text-#{$i} {
            float: left;
        }
    }
}

/**
* Set default direction style
*/

bdo[dir='rtl'] {
    direction: rtl;
    unicode-bidi: bidi-override;
}

bdo[dir='ltr'] {
    direction: ltr;
    unicode-bidi: bidi-override;
}

input,
textarea {
    unicode-bidi: plaintext;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    margin: unset;
    font-family: Archivo, 'Helvetica Neue', sans-serif;
}
