@use '../../styles/variables' as *;
@use '../../styles/section-heading' as *;

:host {
  display: block;
}

h2 {
  @include section-heading;
}

ul {
  margin: 0;
  padding-left: 16px;
}

li {
  font-size: $font-size-body;
  line-height: 1.5;
  color: $color-body;
  margin-bottom: 1.5px;

  .details {
    color: $color-light;
  }
}
