:host {
    position: relative;
    display: grid;
    gap: 0.5cm;
    width: 21cm;
    height: fit-content;
    min-height: 29.7cm;
    margin-inline: auto;
    padding-block: 1cm;

    @media print {
        margin: unset;
        width: unset;
        min-height: unset;
        padding: unset;
        gap: unset;
        zoom: unset !important;
        page-break-after: always;

        ::ng-deep {
            > * {
                border: initial;
                border-radius: initial;
                box-shadow: initial;
            }
        }
    }
}

@page {
    size: A4;
    margin: 0;
}
