@import './styles/styles-reset.scss';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Archivo, 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Archivo, 'Helvetica Neue', sans-serif;
    color: #44566c;
    background-color: #f5f6f7;
}

router-outlet {
    display: none;
}
