@use 'styles/styles-reset.scss';

:root {
    --main-color: #44566c;
    --link-color: #007ee1;
    --border-radius: 10px;
    --shadow-color: rgba(103, 118, 128, 0.1);
    --box-shadow: 0 2.5rem 3.125rem var(--shadow-color);
    --drop-shadow: drop-shadow(-0.15625rem 0 0 #fff)
        drop-shadow(0.1875rem 0 0 #fff) drop-shadow(0 -0.125rem 0 #fff)
        drop-shadow(0 0.125rem 0 #fff)
        drop-shadow(0 0.25rem 0.25rem var(--shadow-color))
        drop-shadow(0 0.5rem 0.5rem var(--shadow-color));
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Archivo, 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Archivo, 'Helvetica Neue', sans-serif;
    color: var(--main-color);
    background-color: #f5f6f7;
}

svg {
    overflow: hidden;
    vertical-align: middle;

    image {
        height: 100%;
        width: 100%;
    }
}

// Angular custom css
router-outlet {
    display: none;
}
// Angular Material custom css
.mat-icon {
    display: flex !important;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    max-height: 75%;
}

.mat-mdc-button-touch-target {
    max-width: 100%;
    max-height: 100%;
}
