:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    @media print {
        gap: unset;
    }

    .page--wrapper {
        display: flex;
        gap: 1rem;
        width: 100%;
        height: 29.686cm;
        padding: 0.5cm;
        border: 1px #d3d3d3 solid;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background-image: url(/assets/images/triangles-top.svg),
            url(/assets/images/triangles-bottom.svg);
        background-position:
            left top,
            right bottom;
        background-repeat: no-repeat;
        background-size: inherit;
        // background-attachment: fixed;

        &:first-of-type {
            padding-top: 1.2cm;
        }
    }
}

.svg-defs {
    position: absolute;
    height: 0;
    width: 0;
}
