:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    @media print {
        gap: unset;
    }

    .page--wrapper {
        display: flex;
        gap: 0.5rem;
        width: 100%;
        height: 29.686cm;
        padding: 0.2cm;
        border: 1px #d3d3d3 solid;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        // background-image: url(/assets/images/triangles-top.svg),
        //     url(/assets/images/triangles-bottom.svg);
        // background-position:
        //     left top,
        //     right bottom;
        // background-repeat: no-repeat;
        // background-size: inherit;
        // background-attachment: fixed;

        &:not(:first-of-type) {
            flex-direction: column;
            padding-inline: 1rem;
        }
    }
}

.svg-defs {
    position: absolute;
    height: 0;
    width: 0;
}
